.git
.env
.env.*
!.env.example
IaC/terraform/.terraform
IaC/terraform/*.tfstate*
IaC/terraform/*.tfvars
bin
tmp
cmd/api/tmp
node_modules
postgres/data
postgres/init
owner-identities.json
config/*
!config/.gitkeep
templates/*_templ.go
internal/static/css
internal/static/js
**/*.log
