DB_URL=postgresql://user:pass@192.168.X.X:5432/postgres?sslmode=disable
ESPN_DATABASE_URL=postgresql://user:pass@localhost:5434/fantasy_espn_clone?sslmode=disable
SLEEPER_DATABASE_URL=postgresql://user:pass@localhost:5434/sleeper_archive?sslmode=disable
SLEEPER_LEAGUE_ID=123456789012345678
SLEEPER_MAIN_LEAGUE_ID=123456789012345678
DOCKER_ESPN_DATABASE_URL=postgresql://user:pass@host.docker.internal:5434/fantasy_espn_clone?sslmode=disable
DOCKER_SLEEPER_DATABASE_URL=postgresql://user:pass@host.docker.internal:5434/sleeper_archive?sslmode=disable
PORT = 4000
ENV = development
OWNER_ALIASES_JSON = {"Mark Jacobs":"Bob Smith","Bigen Bulgey":"John Jones"}
DB_MAX_OPEN_CONNS = 25
DB_MAX_IDLE_CONNS = 25
DB_MAX_IDLE_TIME = 1h15m
