#Templ
*_templ.go

# Go binary files
/bin/
/obj/

# Go workspace directory
/vendor/

# Build output directories
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go test binary, if you have it
*.test

# IDE or editor specific files
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Go-specific directories
*.log

# env file
.env

#caddy data
/caddy/caddy_config
/caddy/caddy_data

#Terraform
# Local Terraform directories
.terraform/

# Terraform state files (contain sensitive info)
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Override files, which are usually local
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Ignore terraform plan output files
*.tfplan

# Ignore terraform variable files that may contain secrets
*.tfvars